body{
  font-family: 'Inter',sans-serif !important;
  margin: 0;
  padding: 0;
}
.header{
  margin-top: 50px;
  text-align: center;
  
}
.iddiv{
  display: none  ;
}
.headline{
  font-weight: 600;
  margin-bottom:10px;
  padding: 0;
  font-size: 72px;
  color: #170426;
  line-height: 88px;
}
.pinkstrike{
  margin:  0;
padding: 0;
}
.introtext{
  color:#4d4d4d;
  font-weight:100;
  font-size: 24px;
  margin:40px 40px 48px 40px;
  line-height: 40px;
}
.introtext1{
  display: block;
}
.getstartedbtn{
  background-color:#f20c59 ;
  display: inline;
  border-style:none;
  color:white;
  font-weight: 700;
  padding: 18px 24px 18px 24px;
  border-radius: 8px;
  font-size:14px;
  cursor: pointer;
}
.arrow{
  margin-left:8px ;
  margin-bottom: 3px;
  
}
.getstartedbtn:hover{
  background-color: #ca0043;
  transition: background-color 2.2s;
}

.proscons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.prosconsmain{
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  max-width: 500px;
}
.proschecklist{
  min-width:270px ;
  max-height: 250px;
  padding: 20px;
  position: relative;
  left:-130px;
  top:190px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 20px 40px -8px rgba(17 ,20,34,10%);
}
.conschecklist{
  min-width:250px ;
  max-height: 250px;
  padding: 20px;
  position: relative;
  right:-130px;
  top:190px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 20px 40px -8px rgba(17 ,20,34,10%);
}
.consimg{
  padding:0;
  margin:0;
  width: 470px;
  height: 470px;
}
ul,.checklist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.checklisttitle{
  color: #170426;
  font-size: 18px;
  font-weight:600 ;
  line-height: 24px;
  margin:0px 0px 28px 0px;
}
.listconsimg{
  padding-right: 12px;
}
.listitem{
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #4d4d4d;
}
.emoji{
  font-size: 22px;
  padding-right: 10px;
}
.status{
  display: inline;
  font-size:18px ;
  margin: 0;
  line-height: 18px;
  color:#170426;
}
.videodiv{
  margin:50px auto;
}
.video{
 margin: 20px auto;
}
.question{
  margin:100px auto 45px auto;
  max-width: 800px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #170426;
  text-align: center;
}
.videoimagediv{
  position: relative;
  cursor: pointer;
  margin: auto;
  width: 80%;
  height: auto;
  border-style: solid;
  border-radius: 7px;
  border-color: white;
  box-shadow: 4px 28px 40px -23px rgba(49,51,71,30%);
}
.videoimg{
  border-radius: 10px;
  width:100%;
  height: auto;
}
.playbg{
  border-radius: 100px;
  background-color: #ffffff;
  position: absolute;
  top:45%;
  left:45%;
  padding: 30px;
}
.play{
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 4px;
}
.modal-body{
  
  padding: 0 !important;
}
.modal{
  top:50px !important;
  left:-100px !important;
}
.modalvideo{
  width: 800px !important;
  height: 500px;
  padding: 0;
}

.close{
  width: 50px;
  padding: 12px;
  background-color: #ffffff !important;
  color: black !important;
  border:none !important;

 }

 .fourthsection{
   margin: 150px auto;
   width: 80%;
   height: 100%;
   text-align: center;
 }
 .fourthsecwrap{
   justify-content: center;
 }
 .textsecone{
   z-index: 1;
    width: 90%;
   display: flex;
   flex-direction: row;
   margin:auto;
   border:none;
   justify-content: center;
   align-items: center;
   position: relative;
    min-height: 210px;
    max-height: 500px;
    box-shadow: 0px 20px 40px -8px rgba(17 ,20,34,10%);
 }
 .greenring::after{
   content:  url('/src/rings/green.svg');
   position: absolute;
   top:0;
  left:0;
    
  }
 .yellowring::after{
  content: url("/src/rings/yellow.svg");
  position: absolute;
  bottom:0;
  left:0;
  z-index: 1;
}
.bluering::after{
  content: url('/src/rings/blue.svg');
  position: absolute;
  top:0;
  right:0;
}
.pinkring::after{
  content: url('/src/rings/pink.svg');
  position: absolute;
  bottom:0;
  right:0;
  z-index: 1;
}
.sectext{
  max-width:60%;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color:#170426;
}
.textseconebtn{
  max-width: 40%;
  margin-right: 50px;
  padding-left: 20px;
  margin: 0;
}
.experiencediv{
  padding-top:200px;
  margin: -100px auto ;
  padding-bottom: 50px;
  border-radius: 12px;
  background-color:rgba(243,238,253,0.5);
}
.exphead{
  font-size: 48px;
  line-height: 64px;
}
.expbtndiv{
  margin-top: 50px;
}

.expbtns{
  color: #170426 ;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  border-radius: 5px ;
  border: none ;
  margin-right: 20px ;
  padding: 12px 30px 12px 30px;
}
.intelitext{
display: none;
}
#intelligent{
  display: block;
}
#unified{
  display: none;
}
#modern{
  display: none;
}
#intelligentres{
  display: none;
}
#unifiedres{
  display: none;
}
#modernres{
  display: none;
}
.expbtnclick{
  display: inline-block;
  background-color: #ffffff  !important;
  color: #f20c59 ;
  border-radius: 5px ;
  border: none ;
  margin-right: 20px ;
  padding: 12px 30px 12px 30px;
  box-shadow: 0 20px 40px -8px rgba(0,0,0,10%);
}
.dot{
  margin:10px 12px 12px 0px;
  vertical-align: middle;
  background-color: #e0e0e0;
  border-style: hidden;
  border-radius: 500px;
  display: inline-block;
  padding: 4px;
}
.dotclick{
  margin:10px 12px 12px 0px;
  vertical-align: middle;
  border-style: hidden;
  border-radius: 500px;
  display: inline-block;
  padding: 4px;
  background-color: #f20c59 ;
}
.expbtns:hover{
  background-color: #ffffff  !important;
  color: #f20c59 ;
  border-radius: 12px ;
  border: none ;
  margin-right: 20px ;
  padding: 12px 30px 12px 30px;
}

.expcard{
  border-radius: 12px !important;
  max-width: 90%;
  margin: 50px auto;
  border: none !important;
  box-shadow: 0px 20px 40px -8px rgba(45,17,17,10%);
  
}
.cardbody{
  display: flex;
  flex-direction: row;
  min-height: 500px;
  
  padding:20px !important;
}
.cardcontent{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-right: 20px;
  margin-left: 12px;
}
.cardtitle{
  padding:12px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #170426;

}
.cardpara{
  font-size: 20px;
  color: #666666;
  line-height: 30px;
  font-weight: 400;
  padding:12px;
}
#intelligent{
background-color: rgba(243,238,253,0.5);
}
#unified{
  background-color: rgba(255,241,240,0.5);
}
#modern{
background-color: rgba(255,248,223,0.5);
}

.person{
  position: absolute;
  top:5px;
  right:5px;
  width: 45%;
  height: 400px;
}

.industry{
  font-size: 14px;
  line-height: 24px;
  color:#ff0055;
  font-weight: 500;
  margin:0;
  padding-left: 14px;
  text-align: left;
}
.doitall{
  margin: 50px auto;
  text-align:center ;
}
.headtextdoitall{
  font-size: 48px;
  line-height: 64px;
  color: #170426;
  font-weight: 600;
  margin-bottom: 8px
}
.paratextdia{
  font-size: 16px;
  line-height: 30px;
  color: #4d4d4d;
  font-weight: 400;
}
.cardopswrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}
.cardsofops{
  display: grid;
  grid-template-columns: repeat(2,1fr) !important;
  width: 80%;
  grid-gap: 24px;
}
.opscarddiv{
  width:100%;
  border: none !important;
  min-width: 400px !important;
  min-height: 500px;
}
#ITOps{
  background-color: #fdf9ff;
}
#AIOps{
  background-color: #fbfcfb;
}
#ComplianceOps{
  background-color: #fcfafa;
}
#RevOps{
  background-color: #f6f7fe;
}
.imgdesc{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.deschead{
  text-align: left;
  padding: 0px 24px 15px 0px;
  font-size: 14px;
  line-height: 24px;
  color: #ff0055;
  font-weight: 600;
}
.contentwrapops{
  padding-left: 24px;
}
.opsimg{
  display: block;
  text-align: left;
}
.descdiv{
font-size: 24px;
line-height: 32px;
color:#170426;
font-weight: 600;
text-align: left !important;
}
.bodyops{
  padding: 20px !important;
}
.links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left !important;
  margin-right: 10px;
}
.cardlink{
  width: 45%;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}
.cardlink:hover{
  background: #ffffff;
  box-shadow: 0 20px 40px -8px rgba(45,17,17,10%)
}
.cardlinkhead{
  min-width:100%;
}
.cardlinkp{
  padding: 10px 0 0 32px;
  font-size: 11px;
  font-weight: 400;
  color: #4d4d4d;
  line-height: 20px;
  width: 100%;
}
.heading{
  display: inline-block;
  padding-left: 8px;
  font-size: 13px ;
  font-weight: 500;
  line-height: 13px;
  color: #170426;
  
}
.viewall{
  margin: 74px auto;
  text-align: center;
}
.viewallbtn{
  border: 2px solid #170426;
  color:#170426;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 18px 30px 18px 24px;
  background-color: #ffffff;
  margin-bottom: 84px;
}

.viewallbtn:hover{
  transition:all 1s;
  background-color: #170426;
  color: #ffffff;
}
.customertestimonalwrap{
  margin:  auto;
  display: block;
  text-align: center;
  padding:0px 44px 224px;
}
.customertestimonal{
text-align: center;
background-color:#eae8ff ;
width: 100%;
height: 1000px;
padding:128px 24px 224px;
border-radius: 10px;

}
.customerwrap{
  padding: 0px 190px;
}
.customerhead{
  text-align: left;
  font-size: 40px;
  line-height: 48px;
  color:#170426;
  font-weight: 600;
  margin-bottom: 40px;
}
.custname{
  position: absolute;
  bottom: 40px;
}
.name{
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #170426;
  font-weight: 600;
}
.compname{
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  padding-top: 12px;
  font-weight: 400;
}
.quote{
  width:45px;
}
.feedbackcard{
  text-align: left;
  padding: 48px 102px 96px;
  min-height: 380px;
  min-width: 50% !important;
  border:none !important;
  border-radius: 10px !important;
  box-shadow: 0px 20px 40px -8px rgba(36,52,50,10%);
}
.feedbackcardbody{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  
  color: #170426;
  padding: 0 !important;
  margin:24px 0px 48px;
}
.customerprofile{
  float: right;
  display: flex;
  flex-wrap: nowrap;
}
.profile{
  margin: 0;
}
.profilewrap{
  margin: 40px 12px;
  padding: 12px;
  border-width: 6px;
  border-style: solid;
  border-radius: 140px;
  border-color: #D1D5DB;
  cursor: pointer;
}

#fb1{
  background-color:#f8f7fe ;
}
#fb2{
  display: none;
  background-color:#ecf8ff ;
}
#fb3{
  display: none;
  background-color:#fff9f9 ;
}
.alltogetherwrap{
  width: 100%;
  margin: -120px auto;
  text-align: center;
}
.alltogether{
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  padding: 40px;
  border-radius: 12px;
  background: linear-gradient(180deg,#280544,#170426);

}
.alltoghead{
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 30px;
}
.alltogtext{
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
}
.bluetworing{
  width: 15%;
  position: absolute;
  top:0;
  right:0;
  opacity: 0.6;
}
.pinktworing{
  position: absolute;
  bottom: 0;
  right:0;
  opacity: 0.6;
}
.greentworing{
 
  position: absolute;
  width: 7%;
  top:0;
  left:0;
  opacity: 0.6;
}
.yellowtworing{
  position: absolute;
  bottom:0;
  left:0;
  opacity: 0.6;
}
.bluetwores{
  display: none;
}
.greentwores{
  display: none;
}
.pinktwores{
  display: none;
}
.yellowtwores{
  display: none;
}
.stayinknowwrap{
  margin:30px auto 100px; 

}
.stayinknowdiv{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
  justify-content: center;
}
.siklinktext{
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #170426;
  font-weight: 500;
  padding-top: 24px;
  
}
.siktextdiv{
  width:20%;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  color: #170426;
  margin-top: 48px
}
.textcardsik{
font-size: 16px;
line-height: 28px;
color:#170426;
margin: 8px 0px 8px;
font-weight: 600;
}
.sikcard{
  width:20%;
  margin-left: 24px;
  cursor: pointer;
  border-color: #f0f0f0;
  border-radius: 5px;
}
.sikcard:hover{
  box-shadow: 0px 20px 40px -8px rgba(36 ,52 ,50 ,10%);
  border-style: none !important;
}


.siktitle{
  display: block;
  margin: 24px 16px 0px;
  font-size: 16px;
  line-height: 10px;
  color: #ff0055;
  font-weight: 500;
}
.divider{
  font-size: 14px;
  color:#e0e0e0;
  margin:0px 15p;
}
.toolsinnerwrap{
  margin-top: 20px;
}
.companycard{
  width:25%;
  cursor: pointer;
  height: 200px;
  margin: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
.companycard:hover{
  border:none;
  background: #fff;
  box-shadow: 0px 20px 40px -8px rgba(36 ,52 ,50 ,10%);
}
.tools{
  margin-left: 200px;
  text-align: center;
  
}
.toolsinnerwrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.toolstext{
  font-size: 48px;
  text-align: left;
  line-height: 64px;
  color:#170426;
  font-weight: 600;
}
.compcardbody{
  padding: 24px !important;
}
.companylogo{
  margin: 0;
  padding: 0;
  text-align: left;
}
.companyimg{
  width: 70%;
  margin-top: 20px;
}
.integrate{
  font-size: 14px;
  line-height: 14px;
  color:#170426;
  font-weight: 500;
  text-align: left;
  padding-top: 20px;
  padding-left: 14px;
}
.integrate:hover{
  color:#ff0055;
}
.circpurp{
  position: absolute;
  left:25%;
  top:75%;
}
.sparkpurp{
 
    position: absolute;
    left:80%;
    top:70%;
  
}
.docgreen{
  position: absolute;
    left:15%;
    top:40%;
}
.devyellow{
  position: absolute;
    left:80%;
    top:30%
}
.readmore{
  padding-left: 8px;
 padding-bottom: 2px;
}
.siklinktext:hover{
  color: #ff0055;
}

@media only screen and (max-width:1200px){

  .prosconsmain{
    max-width: 400px;
  }
  .consimg{
    padding:0;
    margin:0;
    width: 500px;
    height:400px;
  }
  .proschecklist{
    top:120px;
  }
  .conschecklist{
    top:120px;
  }
  .fourthsection{
    width: 80%;
  
  }

  .textsecone{
   width: 100% !important;
  }
  .sectext{
    max-width:50%;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color:#170426;

  }
  .textseconebtn{
    padding-left: 32px;
    max-width: 40%;

  }
  .textsecone{
     width: 80%;
  }
  .experiencediv{
    padding-top:200px;
    margin: -150px auto ;
    padding-bottom: 50px;
    border-radius: 12px;
    background-color:rgba(243,238,253,0.5);
  }
  .tools{
    padding-top: 100px;
    margin: 50px;
  }
  .toolstext{
    text-align: center;
  }
  .contentwrapops{
    padding: 12px;
  }
  .imgdesc{
    padding: 12px;
  }
  .bodyops{
    padding: 12px !important;
  }
  .cardlink{
    padding: 0;
  }
  .links{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  

}
@media only screen and (max-width:1000px){
  .headline{
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
  }

 .intelitext{
   display: block;
   font-size: 16px;
   font-weight: 600;
   line-height: 30px;
   color: #170426;
 }
  .proscons{
    display: none;
  }
  .videoimagediv{
    width: 92%;
  }
  .fourthsection{
    width: 92%;
  }

  .textsecone{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;

  }

  .experiencediv{
    margin: -220px auto;
    display: flex;
    flex-direction: column;
  }
  .exphead{
    margin-top: 100px;
  }
  .expbtndiv{
    display: none;
  }
  #intelligent{
    display: block;
  }
  #unified{
    display: block  !important;
  }
  #modern{
    display: block  !important;
  }
  .cardbody{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px !important;
  }
  .cardcontent{
    max-width: 100%;
  }
  .person{
    position: absolute;
    left:0;
    top:0;
    margin:40px auto 45px 40px ;
    width: 40%;
    height: 40%;
  }
  .cardtitle{
    margin-top: 50%;

  }
  .greenring::after{
    content:  url('/src/rings/green2.svg');
    position: absolute;
    top:0;
   left:0;
     
   }
  .yellowring::after{
   content: url("/src/rings/yellow2.svg");
   position: absolute;
   top:0;
   left:0;
   z-index: 1;
 }
 .bluering::after{
   content: url('/src/rings/blue2.svg');
   position: absolute;
   top:83%;
   right:48px;
 }
 .pinkring::after{
   content: url('/src/rings/pink2.svg');
   position: absolute;
   bottom:0;
   right:0;
   z-index:1;
 }

.sectext{
  padding-top: 100px;
  padding-bottom:40px ;
  max-width:700px;
}
.textseconebtn{
  padding-bottom: 100px;
  padding-right: 30px;
  max-width: 300px;
}
.tools{
  margin-top: 300px;
  margin-left: 100px;
}
.imgdesc{
  display: block;
}
.cardsofops{
  width: 95%;
}
.contentwrapops{
  padding-left: 8px;
}
.links{
  display: flex;
  flex-direction: column;
}
.cardlink{
  width: 80%;
}
.customertestimonal{
  padding-top:40px;
}
.customerwrap{
  padding: 0;
}
.feedbackcard{
  min-height: 480px;
}
.alltogether{
  padding: 80px;
}
.sikcard{
  width: 29%;
}
.siktextdiv{
  width: 100%;
  margin-left: 40px;
  margin-bottom: 30px;
}
.siklinktext{
  padding-left: 8px;
  padding-bottom: 20px;
}
.bluetworing{
  display: none;
}
.greentworing{
  display: none;
}
.yellowtworing{
  display: none;
}
.pinktworing{
  display: none;
}
.bluetwores{
  display: block;
  position: absolute;
  bottom:0;
  right:  5%;
  opacity: 0.6;
}
.greentwores{
  display: block;
  position: absolute;
  top:0;
  left: 5%;
  opacity: 0.6;
}
.yellowtwores{
  display: block;
  position: absolute;
  top:0;
  left: 0;
  opacity: 0.6;
}
.pinktwores{
  display: block;
  bottom:0;
  right:  0;
  position: absolute;
  opacity: 0.6;
}
#bulkofcards{
  display: none;
}
#intelligentres{
  display: block;
  background-color: rgba(243,238,253,0.5);
 
}
#unifiedres{
  display: block;
  background-color: rgba(255,248,223,0.5);
}
#modernres{
  display: block;
  background-color:rgba(255,241,240,0.5)
}
.companycard{
  width: 40%;
}
}
@media only screen and (max-width:790px){
.headline{
  font-size: 48px;
  line-height: 58px;
}
.cardsofops{
  display: flex;
  flex-direction: column;
}
.exphead{
  font-size: 40px;
  line-height: 48px;
  margin-left: 24px;
  margin-right: 12px;
}
.person{
  width:50%;
  margin:0px auto 45px 40px;
}
.playbg{
  padding: 12px;
  top:40%;
}
.cardtitle{
  margin-top: 50%;
}
.cardbody{
width: 100%;
}
.sikcard{
  width: 90%;
  margin-bottom: 40px;
}
}
@media only screen and (max-width:600px){
  .header{
   margin: 50px 10px;
  }
  .pinkstrike{
    display: none;
  }
  .intelitext{
    display: none;
  }
  .person{
    width: 50%;
    height: 35%;
  }
  .cardtitle{
    margin-top:230px;
  }
  .feedbackcard{
    padding: 12px;
  }
  .companycard{
    width: 100%;
  }
  .customerprofile{
    width: 50%;
    flex-wrap: nowrap;
   float: left;
  }
  .profilewrap{
    margin: 40px 0px;
    padding: 0px;
  }
  .alltogetherwrap{
    margin: -10px auto;
  }
  .playbg{
    padding: 12px;
    top:35%;
  }
  }

@media only screen and (max-width:430px){
  .tools{
    margin: 0;
  }

  .cardsofops{
    margin: 0;
    
  }
  .cardopswrap{
    justify-content:start;
  }
.person{
  width: 90%;
  height: 25%;
}
.bodyops{
  padding: 0;
}
.profilewrap{

  margin-right:14px ;
}
.profile{
  width: 60px;

}
.greentwores{
  left :-6%;
}
.customertestimonalwrap{
  padding: 8px;
}
.alltogetherwrap{
  width: 100%;

}
.opscarddiv{
  min-width: 50% !important;
}
.cardtitle{
  margin-top: 270px;
}
.sikcard{
  margin-left: 0;
}
}